<div class="about">
  <h1>What is Trust or Bust?</h1>
  <p>Trust of Bust pulls in photos from Kiva borrowers, and asks the public to compare them. We are interested in finding a statistical connection between certain characteristics of a borrower's photo and his or her eventual loan amount and payback rate.</p>
  <h1>How does it work?</h1>
  <p>Data on Kiva loans are provided to the public via the <a href="http://build.kiva.org/api">Kiva API</a>, and we use the API to gather a growing repository of borrower photos. Each photo is matched with a loan record in our database, and we perform basic statistical analysis on the 'trustworthiness' of each photo and the data attached to that loan. Initially, the <a href="http://en.wikipedia.org/wiki/Elo_rating_system">ELO Rating System</a>, an algorithm used primarily for chess, is being utilized to 'rank' the borrowers.</p>
</div>