<div class="about">
  <h1>What is Trust or Bust?</h1>
  <p>Trust of Bust pulls in photos of Kiva borrowers, and asks the public to compare them based on one of two randomly selected questions:</p> 
  <ol>
  <li>Who would you lend to?</li>
  <li>Who would you give to?</li>
  </ol>
  <p>We are interested in finding out if there is a statistical connection between certain characteristics of a borrower's photo (controlling for other aspects of the loan), and his or her funding and repayment on Kiva.</p>
  <h1>How does it work?</h1>
  <p>Data on Kiva loans are provided to the public via the <a href="http://build.kiva.org/api">Kiva API</a>, which we have used to gather a repository of borrower's photos. Each photo is matched with a loan record in the database, and we perform basic statistical analysis on the ranking of each photo for the two questions, along with other loan information, against the time it took for the loan to get funded. When the full analysis has been completed in the next two weeks, we intend to post the results here.</p>
  <p>Initially, the <a href="http://en.wikipedia.org/wiki/Elo_rating_system">Elo Rating System</a>, an algorithm used primarily for chess, is being utilized to 'rank' the borrowers. However, for the research analysis, we are exploring and teaching ourselves about <a href="http://en.wikipedia.org/wiki/Markov_chain">Markov Chains</a> and <a href="http://en.wikipedia.org/wiki/Pairwise_comparison">Pairwise Comparisons</a>.</p>
  <h1>Disclosures</h1>
  <p>You should know that we are not affiliated with Kiva.org in anyway. We support their work and hope that this research might be of interest to them.</p>
  <p>The name of the site was chosen so that it would be easy to remember and share. Furthermore, the purpose of the 'leaderboard' is merely as a way for visitors of the site to compare their decisions with those of other users. 
</div>