<h1>Who would you be more likely to fund?</h1>
<div class="player left" data-id="<%= game.get('left').id %>">
  <img class="image" src="<%= game.get('left').image %>"/>
</div>
<div class="player right" data-id="<%= game.get('right').id %>">
  <img class="image" src="<%= game.get('right').image %>"/>
</div>