<div class="header">
  <a class="logo" href="/">Trust or Bust</a>
</div>
<div class="container">
  <div id="game">
    
  </div>
</div>
<div class="footer">A TEDxYale Production -- an accurate representation of reality.</div>
  