<div class="header">
  <a class="logo" href="/">Trust or Bust</a>
</div>
<div class="container">
  <div id="game">
    <div class="background"></div>
    <button id="new-game">New Challenge</button>
  </div>
</div>
<div class="footer">A Bridgewater + TEDxYale Production -- an accurate representation of reality.</div>
  