// Mixins
@import "mixins";

// Variables
$width: 960px;
$header-height: 60px;
$green: #7FFFD4;
$blue: #5CB8E6;
$dark-blue: #297ACC;

// General Styles
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  @include HN-Regular;
  background: #fafafa;
}
.header, .footer, .container {
  width: $width;
  margin: auto;
}
.header {
  height: $header-height;
  border-bottom: 1px solid #dadada;
  .logo {
    @include HN-Bold;
    font-size: 30px;
    line-height: 70px;
    text-align: left;
    color: #dadada;
    text-decoration: none;
    @include transition(0.2s);
    &:hover {
      color: $blue;
    }
  }
  .count {
    @include HN-Light;
    font-size: 30px;
    float: right;
    line-height: 70px;
    text-decoration: none;
    color: #dadada;
    @include transition(0.2s);
    &:hover {
      color: $blue;
    }
  }
}
.background {
  .slide {
    width: 120px;
    height: 80px;
    float: left;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.container {  
  padding: 20px 0;
  min-height: 300px;
  position: relative;
  #new-game {
    width: 300px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -150px;
    height: 80px;
    background: $blue;
    color: white;
    display: block;
    cursor: pointer;
    border: 1px solid #297ACC;
    font-size: 25px;
    border-radius: 10px;
    @include gradient($dark-blue, #47A3FF);
    @include transition(0.2s);
    &:hover {
      @include gradient(#47A3FF, #47A3FF);
    }
  }
}
.footer {
  height: 80px;
  font-size: 12px;
  @include HN-Light;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #dadada;
  text-align: center;
  .social, .fb-like {
    float: left;
  }
  .fb-like {
    margin-right: 12px;
  }
  .message {
    text-align: center;
    width: 500px;
    margin: auto;
  }
  .about {
    float: right;
    font-size: 14px;
    line-height: 14px;
    @include HN-Regular;
    color: #777;
    @include transition(0.2s);
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
  .about, .message {
    padding-top: 4px;
  }
}

// Game
.player {
  width: 433px;
  min-height: 200px;
  display: inline-block;
  margin: 15px;
  height: auto;
  vertical-align: top;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  @include transition(0.2s);
  &:hover {
    opacity: 0.8;
    border: 1px solid $dark-blue;
  }
  &:active {
    opacity: 0.5;
  }
  &.loading {
    background-image: url('/assets/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    .image {
      opacity: 0;
    }
  }
  .image {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    height: auto;
    @include transition(opacity 0.2s);
  }
}
h1 {
  text-align: center;
}
.left {
  margin-right: 0px;
}

// Leader board
$leader-width: 188px;
$leader-height: 120px;

#leaders {
  min-height: 300px;
  &.loading {
    background-image: url("/assets/loader.gif");
    background-position: center 100px;
    background-repeat: no-repeat;
    .leader {
      opacity: 0;
    }
  }
}
.leader-head {
  font-size: 30px;
  line-height: 50px;
  @include HN-Bold;
  text-align: center;
}
.leader {
  width: $leader-width;
  height: $leader-height;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
  img {
    width: $leader-width;
  }
  .leader-count {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 55px;
    @include HN-Light;
    line-height: $leader-height;
    top: 0;
    height: $leader-height;
    color: $blue;
    background: white;
    opacity: 0.7;
    @include transition(0.2s);
  }
  &:hover {
    .leader-count {
      opacity: 0;
    }
  }
}